* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*topppiss*/


nav {
    display: flex;
    flex-direction: row;

    width: 100vw;

    height: 70px;
    background-color: aqua;

    justify-content: space-around;

    align-items: center;


}


.bikkje a {
    text-decoration: none;
    font-size: 40px;
    color: black;

}

.dropdown-content a {
    display: block;
    text-decoration: none;
    font-size: 25px;
    background-color: aquamarine;
    padding: 5px;
}

.dropdown {
    position: relative;
}


.dropdown-content {
    position: absolute;
    top: 58px;
    left: 0;
    background-color: aquamarine;
    display: none;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 250px;
    text-align: center;

}


.blippern {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    font-size: 25px;

}

#knapp1{
    background-color: aqua;
    font-size: 40px;
    cursor: pointer;
    border: none;
}